<!-- Fragmento #1 que irá en el head de todas las páginas, así se incluye todo lo necesario de configuración-->
<head th:fragment="head">
    <title>BarberShop</title>
    <meta charset="UTF-8"/>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet"/>

    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script> 

    <link rel="stylesheet" th:href="@{/css/estilos.css}">
</head>

<header>
    <nav class="navbar navbar-expand-lg custom-navbar">
        <div class="container-fluid d-flex align-items-center">

            <!-- Logo -->
            <a class="navbar-brand d-flex align-items-center" href="#">
                <img src="/img/barbería.png" alt="Logo" width="60" class="me-2">
                <span class="brand-text">BarberShop</span>
            </a>

            <!-- Botón responsive -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Menú -->
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
                            [[#{plantilla.idioma}]]</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" th:href="@{/(lang=es)}">Español</a></li>
                            <li><a class="dropdown-item" th:href="@{/(lang=en)}">English</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="navbar-nav nav-pill-container">

                    <li class="nav-item">
                        <a class="nav-link nav-pill active-pill" href="#">[[#{accion.inicio}]]</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link nav-pill" href="#">[[#{accion.servicio}]]</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link nav-pill" href="#">[[#{accion.tienda}]]</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link nav-pill" href="#">[[#{accion.cuenta}]]</a>
                    </li>

                </ul>
            </div>

        </div>
    </nav>
</header>

<section th:fragment="imagen1">
    <img th:src="@{/img/varon 3.jpg}" class="img-fluid" alt="Imagen">
</section>

<section th:fragment="quienesSomos" class="quienes-somos py-5">
    <div class="container">
        <div class="row align-items-center">

            <!-- Columna izquierda -->
            <div class="col-md-6 text-light">

                <h2 class="titulo-principal">[[#{info.quienesSomos}]]</h2>
                <h4 class="subtitulo">[[#{info.texto1}]]<br> [[#{info.texto2}]]</h4>

                <div class="info-item mt-4 d-flex">
                    <img th:src="@{/img/tijeras.svg}" width="40" class="me-3">
                    <div>
                        <h5>[[#{info.p&p}]]</h5>
                        <p>
                            [[#{info.p&p.texto}]]
                        </p>
                    </div>
                </div>

                <div class="info-item mt-4 d-flex">
                    <img th:src="@{/img/mostacho.svg}" width="40" class="me-3">
                    <div>
                        <h5>[[#{info.experiencia}]]</h5>
                        <p>
                            [[#{info.experiencia.texto}]]
                        </p>
                    </div>
                </div>

                <div class="info-item mt-4 d-flex">
                    <img th:src="@{/img/gira.svg}" width="40" class="me-3">
                    <div>
                        <h5>[[#{info.calidad}]]</h5>
                        <p>
                            [[#{info.calidad.texto}]]
                        </p>
                    </div>
                </div>

            </div>

            <!-- Columna derecha -->
            <div class="col-md-6 text-center">
                <img th:src="@{/img/varon 2.jpg}" class="img-fluid rounded shadow">
            </div>

        </div>
    </div>
</section>













<footer class="custom-footer text-light pt-4">

    <div class="container">
        <div class="row">

            <!-- Horario -->
            <div class="col-md-4 mb-3">
                <h4 class="footer-title">[[#{info.horario}]]</h4>
                <p>
                    [[#{dia.lunes}]]<br>
                    [[#{dia.martes}]]<br>
                    [[#{dia.miercoles}]]<br>
                    [[#{dia.jueves}]]<br>
                    [[#{dia.viernes}]]<br>
                    [[#{dia.sabado}]]<br>
                    [[#{dia.domingo}]]
                </p>
            </div>

            <!-- Contacto -->
            <div class="col-md-4 mb-3">
                <h4 class="footer-title">[[#{info.contactenos}]]</h4>
                <p>
                    [[#{tel.1}]]<br>
                    [[#{tel.2}]]<br>
                    [[#{tel.3}]]
                </p>

                <!-- Redes -->
                <div class="social-icons mt-3 d-flex gap-3">
                    <a href="#">
                        <img src="/img/facebook.svg" width="28" class="social-img">
                    </a>
                    <a href="#">
                        <img src="/img/instagram.svg" width="28" class="social-img">
                    </a>
                </div>
            </div>
            <!-- Ubicaciones -->
            <div class="col-md-4 mb-3">
                <h4 class="footer-title">[[#{info.ubicaciones}]]</h4>
                <ul class="footer-list">
                    <li>[[#{lugar.1}]]</li>
                    <li>[[#{lugar.2}]]</li>
                    <li>[[#{lugar.3}]]</li>
                </ul>
            </div>

        </div>
    </div>

    <!-- Línea inferior -->
    <div class="footer-bottom text-center py-2 mt-3">
        [[#{footer}]]
    </div>

</footer>

